/app/cache/*
/.idea
.idea
*/.idea/*
.idea/
docs
docs/*
/web/bundles/*
/web/css/*
/web/js/*
/app/bootstrap*
/app/logs/*
/vendor/*
app/config/parameters.ini
/app/config/parameters.yml
/debug/*
debug
./bin/doctrine
./bin/doctrine.php
composer.lock
delegationFiles/*.txt
app/check.php
app/SymfonyRequirements.php
composer.lock
bin/*
web/logo/*
