{% extends 'DelegationsBundle::base.html.twig' %}

{% block body -%}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'translations.ViewAction'|trans({}, 'DelegationsBundle') }}</div>
            <div class="panel-body table-responsive">
                {% include 'DelegationsBundle:Delegations:view.html.twig' %}
            </div>
        </div>
        </div>
    </div>
{% endblock %}
